
.full{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
}

.curr{
    padding: 2rem;
    background-color: azure;
}

h2{
    text-decoration: underline;
    font-style: oblique;
}

.name, .mob, .slot, .dob{
    margin: 0.5rem;
}

label{
    margin-right: 0.5em;
}
input{
    height: 200%;
    border-style: solid;
    border-width: medium;
}

label{
    font-weight: bold;
}

.alert{
    margin: 1rem;
    font-weight: bolder;
    color: tan
}

.form-button{
    margin: 1rem;
    font-weight: bolder;
    color: ta
}
