
.main1{
  background: burlywood;
  padding: 1rem;
  border-width: thick;
}

.amount{
  margin: 1rem;
    color: blue;
    font-style: oblique;
}

.FormGroup{
  margin: 0.5rem;
    border-width: thick;
}

payment-button{
  margin: 0.5rem;
    font-weight: bold;
    border-width: medium;
    width: 25%;
    color: grey;
}

